<!--<div class="group-info fixed">
  {{!group.data.name}} test tes test
</div>-->
<div class="sc-container">
    <div class="layer">
        <div class="margined"></div>
      {{#each visible as |group|}}
          <div class="group">
              <div class="group-info">
                  Group: {{group.data.name}}
              </div>
              <div class="group-items">

                {{#each group.items as |item|}}
                    <div class="group-item">
                      {{item.lastName}} {{item.middName}} (Group: {{group.data.name}})
                    </div>
                {{/each}}

              </div>
          </div>

      {{/each}}
    </div>

</div>



